html{
    border: 1px solid rgb(27, 15, 192);
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    color:rgb(86, 83, 83);
    font-size: 30px;
    text-align: center;
}

.nav{
    background-color: #bbcee4;
    border-radius: 10px;
    padding: 15px;
    display: flex; /*or display: grid; */
    box-shadow: 0 1px 3px rgba(236, 169, 169, 0.1);
    margin-bottom: 20px;
    
}
.name{
    margin-left: 25px;
}
button{
    font-size: 25px;
    margin-left: 25%;
    margin-top: 5%;
} 
button:hover{
    color: red;
    cursor: pointer;
}
input{
    font-size: 20px;
}
.input_pass{
    margin-left: 5px;
}