* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

button {
  /* width: 300px; */
  padding: 5px 15px;
  cursor: pointer;
  background-color: transparent;
}

.item label {
  width: 20%;
  text-align: left;
}

.avatar img {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 9999px;
}

.avatar label {
  margin-bottom: 30px;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
